@import "/src/styles/action-buttons";
@import "breakpoints";

.task-item {
  width: inherit;
  height: 100%;
  max-width: 300px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--task-item-bg);
  color: var(--text-color);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;

  overflow: hidden;

  &:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  }

  &.completed {
    opacity: 0.5;
    text-decoration: line-through;
  }
}

.task-content {
  width: 100%;
  padding: 8px;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  word-break: break-word;
}

.task-actions {
  display: flex;
  justify-content: space-between;

  @media (min-width: $breakpoint-tablet) {
    justify-content: flex-end;
    gap: 12px;
  }
}

.complete-btn {
  @extend .round-button;
  background-color: var(--complete-toggle-bg);
  color: var(--complete-toggle-icon);
}

.delete-btn {
  @extend .round-button;
  background-color: var(--delete-toggle-bg);
  color: var(--delete-toggle-icon);
}
