.theme-toggle-btn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 100;
  background-color: var(--theme-toggle-bg);
  color: var(--theme-toggle-icon);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}
