@import "/src/styles/action-buttons";

.input-container {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.full-width {
  flex: 1;
}

.mat-form-field {
  width: 100%;
}

.button-group {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.save-btn {
  @extend .round-button;
  background-color: var(--success-color);
}

.cancel-btn {
  @extend .round-button;
  background-color: var(--warn-color);
}
