@import "breakpoints";

.window {
  width: 100%;
  max-width: 980px;
  background: var(--window-bg-color);
  border-radius: 10px;
  box-shadow: var(--window-shadow);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  font-family: sans-serif;
  color: var(--text-color);
}

.window-header {
  background: var(--window-header-color);
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.window-button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
}

.window-content {
  padding: 8px 16px;
  flex: 1;

  @media (min-width: $breakpoint-mobile) {
    padding: 16px 32px;
  }
}

.close {
  background: var(--window-close-color);
}
.minimize {
  background: var(--window-minimize-color);
}
.maximize {
  background: var(--window-maximize-color);
}
