@import "breakpoints";

html,
body {
  height: 100%;
  box-sizing: border-box;
  background-color: var(--background-color);
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.containerized {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: transparent;
  padding: 0 6%;

  @media (max-width: $breakpoint-tablet) {
    padding: 8%;
  }
}

:root {
  /* globals */
  --text-color: #000;
  --background-color: #6196ff;

  /* Window (mac-like) container component */
  --window-shadow: 0 0 200px rgba(0, 0, 20, 0.5);
  --window-bg-color: #f0f0f0;
  --window-header-color: #d6d6d6;
  --window-close-color: #ff5f57;
  --window-minimize-color: #ffbd2e;
  --window-maximize-color: #28c840;

  /* Task list component */
  --task-item-bg: #fff;
  --task-item-border: #ddd;

  /* Theme toggle component */
  --theme-toggle-bg: #fff;
  --theme-toggle-icon: #000;
}

.dark-mode {
  /* globals */
  --text-color: #fff;
  --background-color: #051e4f;

  /* Window (mac-like) container component */
  --window-shadow: 0 0 100px rgba(156, 149, 149, 0.3);
  --window-header-color: #333;
  --window-bg-color: #121212;
  --window-close-color: #ff5f57;
  --window-minimize-color: #ffbd2e;
  --window-maximize-color: #28c840;

  /* Task list component */
  --task-item-bg: #1e1e1e;
  --task-item-border: #333;

  /* Theme toggle component */
  --theme-toggle-bg: #000;
  --theme-toggle-icon: #fff;
}
