@import "breakpoints";

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
button,
input,
textarea {
  font-family: "Fredoka", sans-serif !important;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
  background-color: var(--background-color);
  overflow-x: hidden;
  transition: background-color 1.2s ease-in-out;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* global classes */
.containerized {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  background-color: transparent;
  align-items: center;

  @media (max-width: $breakpoint-tablet) {
  }
}

.mat-dialog-container {
  border: 1px solid var(--cloud-accent-color);
  color: var(--text-color);
  padding: 24px;
  background-color: var(--cloud-bg-color);
}

:root {
  /* globals */
  --text-color: #000;
  --background-color: #6196ff;
  --accent: #fff200;
  --accent-contrast: #000000;
  --success-color: #049114;
  --warn-color: #9c2a24;

  /* Window (mac-like) container component */
  --window-shadow: 0 0 200px rgba(0, 0, 20, 0.5);
  --window-bg-color: #f0f0f0;
  --window-header-color: #d6d6d6;
  --window-close-color: #ff5f57;
  --window-minimize-color: #ffbd2e;
  --window-maximize-color: #28c840;

  /* Task list component */
  --task-item-bg: #fff;
  --task-item-border: #ddd;

  /* Theme toggle component */
  --theme-toggle-bg: #e4e4a0;
  --theme-toggle-icon: #000;

  /* Sun cycle component */
  --sun-transform: translateX(0);
  --sun-opacity: 1;
  --sun-transition: transform 1s ease-out, opacity 1s ease-in-out;
  --moon-transform: translateX(10vw);
  --moon-opacity: 0;
  --moon-transition: transform 1s ease-out, opacity 1s ease-in-out;

  /* Cloud color */
  --cloud-bg-color: #8f8d8d;
  --cloud-accent-color: #f0f0f0;
}

.dark-mode {
  /* globals */
  --text-color: #fff;
  --background-color: #051e4f;
  --accent: #fff200;
  --accent-contrast: #000000;
  --success-color: #2f6b3d;
  --warn-color: #ff5f57;

  /* Window (mac-like) container component */
  --window-shadow: 0 0 100px rgba(156, 149, 149, 0.3);
  --window-header-color: #333;
  --window-bg-color: #121212;
  --window-close-color: #ff5f57;
  --window-minimize-color: #ffbd2e;
  --window-maximize-color: #28c840;

  /* Task list component */
  --task-item-bg: #1e1e1e;
  --task-item-border: #333;

  /* Theme toggle component */
  --theme-toggle-bg: #6f6d6d;
  --theme-toggle-icon: #fff;

  /* Sun cycle component */
  --sun-transform: translateX(-10vw);
  --sun-opacity: 0;
  --sun-transition: transform 1s ease-out, opacity 2s ease-in-out;
  --moon-transform: translateX(0);
  --moon-opacity: 1;
  --moon-transition: transform 1s ease-out, opacity 2s ease-in-out;
}
